.NoteAddForm {
	display: flex;
}

.input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.important {
	width: 30px;
}
