.noteAddForm {
	display: flex;

	&__input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&__button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&__important {
		border-radius: 0;
		border-right: none;
		border-left: none;
		background-color: var(--bg-secondary-color);

		&_active {
			background-color: var(--bg-primary-color);
		}
	}
}
