.ControlPanel {
	display: flex;
	justify-content: space-between;
	margin-block: 10px;
}

.wrapper {
	display: flex;
	gap: 10px;
}

.switcher {
	cursor: pointer;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height: 20px;
	border-radius: 25% / 63%;
	vertical-align: top;
	background: var(--bg-secondary-color);
	border: 1px solid var(--primary-color);
	transition: 0.2s;

	&:hover {
		&::before {
			transform: scale(1.05);
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: -4px;
		left: -2px;
		display: inline-block;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		background: var(--bg-primary-color);
		border: 1px solid var(--primary-color);
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		transition: 0.15s;
	}
}

.active {
	background: var(--primary-color);

	&::before {
		transform: translateX(28px);
	}
}
