.AppAlert {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 20px;
}

.danger {
	background-color: #ff7d7d;
	color: #830000;
}

.success {
	background-color: #95ff7d;
	color: #095600;
}

.warning {
	background-color: #fff47d;
	color: #6c5f00;
}

.close {
	height: 30px;
	width: 30px;
	align-self: start;
	color: red;

	&:hover {
		border: 1px solid #720000;
		border-radius: 5px;
	}
}
