.alert-enter {
	opacity: 0;
	transform: scale(0.3);
}

.alert-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: all 300ms ease-in;
}

.alert-exit {
	opacity: 1;
	transform: scale(1);
}

.alert-exit-active {
	opacity: 0;
	transform: scale(0.3);
	transition: all 300ms ease-in;
}
