.App.dark {
	--bg-default-color: rgb(12, 7, 62);
	--bg-primary-color: rgb(6, 4, 34);
	--bg-secondary-color: rgb(26, 52, 137);

	--default-color: rgb(72, 193, 220);
	--primary-color: rgb(41, 203, 228);
	--secondary-color: rgb(114, 148, 159);
}
