.App.dark {
	--bg-primary-color: rgb(15, 6, 106);
	--bg-button-color: rgb(11, 6, 65);
	--bg-secondary-color: rgb(8, 55, 211);

	--primary-color: rgb(119, 212, 233);
	--secondary-color: rgb(41, 97, 110);
}
