.modalContent-enter {
	opacity: 0;
	transform: scale(0.3);
}

.modalContent-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: all 300ms ease-in;
}

.modalContent-exit {
	opacity: 1;
	transform: scale(1);
}

.modalContent-exit-active {
	opacity: 0;
	transform: scale(0.3);
	transition: all 300ms ease-in;
}
