@import "./dark/dark.scss";
@import "./light/light.scss";

.App {
	background-color: var(--bg-default-color);
	color: var(--default-color);

	min-height: 100vh;

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition: background-color 5000s ease-in-out 0s;
		-webkit-text-fill-color: var(--primary-color);
		caret-color: var(--primary-color);
	}

	.default-bg {
		background-color: var(--bg-default-color);
	}

	.primary-bg {
		background-color: var(--bg-primary-color);
	}

	.secondary-bg {
		background-color: var(--bg-secondary-color);
	}

	.primary-link {
		color: var(--secondary-color);

		&.active {
			color: var(--primary-color);
		}
	}

	.secondary-link {
		color: var(--primary-color);

		&.active {
			color: var(--secondary-color);
		}
	}

	.default-text {
		color: var(--default-color);
	}

	.primary-text {
		color: var(--primary-color);
	}

	.secondary-text {
		color: var(--secondary-color);
	}
}
