.App.light {
	--bg-primary-color: rgb(144, 196, 212);
	--bg-button-color: rgb(31, 175, 219);
	--bg-secondary-color: rgb(198, 227, 235);

	--primary-color: rgb(15, 8, 122);
	--secondary-color: rgb(43, 59, 133);
}
