.App.light {
	--bg-default-color: rgb(255, 255, 255);
	--bg-primary-color: rgb(105, 188, 213);
	--bg-secondary-color: rgb(212, 233, 233);

	--default-color: rgb(48, 41, 148);
	--primary-color: rgb(14, 8, 102);
	--secondary-color: rgb(76, 94, 174);
}
