.navBar {
	height: 50px;
	width: 100%;
	background-color: var(--bg-primary-color);

	&__wrapper {
		margin-inline: auto;
		width: 90%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__brand {
		color: var(--primary-color);
		font-weight: bold;
	}

	&__mainLinks {
		display: flex;
		justify-content: center;
		gap: 10px;
	}

	&__list {
		margin: 0;
		list-style: none;
		display: flex;
		gap: 10px;
	}

	&__link {
		color: var(--secondary-color);
		text-decoration: none;

		&:hover {
			color: var(--primary-color);
		}
	}

	.active {
		color: var(--primary-color);
	}
}
