.NavBar {
	height: var(--navbar-height);
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
	background-color: var(--bg-primary-color);
}

.wrapper {
	margin-inline: auto;
	width: 90%;
}

.brand {
	color: var(--primary-color);
	font-weight: bold;
}

.link {
	color: var(--secondary-color);
	text-decoration: none;

	&:hover {
		color: var(--primary-color);
	}
}

.active {
	color: var(--primary-color);
}
