@import "./themes/dark/dark";
@import "./themes/light/light";
@import "./variables/globals";
@import "./reset";

.App,
.PageLoader,
.ErrorBoundary {
	color: var(--default-color);
	background-color: var(--bg-default-color);
}

.App,
.PageLoader,
.ErrorBoundary,
.AppModal {
	font: var(--font-m);
}

.PageLoader {
	min-height: calc(100vh - var(--navbar-height));
}

.PageLoader_app,
.ErrorBoundary {
	min-height: 100vh;
}

.App {
	min-height: 100vh;

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition: background-color 5000s ease-in-out 0s;
		-webkit-text-fill-color: var(--primary-color);
		caret-color: var(--primary-color);
	}
}

button {
	cursor: pointer;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
	font: var(--font-xl);
}

label {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	* {
		scrollbar-width: 10px;
		scrollbar-color: var(--secondary-color) var(--primary-color);
	}

	*::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	*::-webkit-scrollbar-track {
		background: var(--secondary-color);
	}

	*::-webkit-scrollbar-thumb {
		background-color: var(--bg-primary-color);
		border-radius: 5px;
		border: 1px solid var(--primary-color);
	}
}
