.sideBar {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s linear;

	&_collapsed {
		bottom: -120px;
	}

	&__btnGroup {
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}

	&__open {
		width: 50px;
		height: 50px;
		text-align: center;
		background: none;
		color: var(--primary-color);
		margin-bottom: 20px;
		border-radius: 50%;
		border: 1px solid var(--primary-color);
		transform: rotateZ(180deg);

		&_collapsed {
			transform: rotateZ(0deg);
		}
	}
}
