.sideBar {
	position: fixed;
	right: 20px;
	bottom: 20px;

	&__button {
		position: fixed;
		transition: 0.3s all ease-out;

		&:nth-child(1) {
			right: 10px;
			bottom: 90px;
		}

		&:nth-child(2) {
			right: 90px;
			bottom: 10px;
		}

		&:nth-child(3) {
			right: 68px;
			bottom: 68px;
		}

		&_collapsed {
			&:nth-child(1) {
				right: 20px;
				bottom: 20px;
			}

			&:nth-child(2) {
				right: 20px;
				bottom: 20px;
			}

			&:nth-child(3) {
				right: 20px;
				bottom: 20px;
			}
		}
	}

	&__open {
		width: 50px;
		height: 50px;
		text-align: center;
		color: var(--primary-color);
		background: var(--bg-default-color);
		border-radius: 50%;
		border: 1px solid var(--primary-color);
		transform: rotateZ(0deg);
		transition: 0.2s all linear;

		&_collapsed {
			transform: rotateZ(45deg);
		}
	}
}
