.filter {
	margin-block: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;

	&__button {
		background: var(--bg-secondary-color);
		color: var(--secondary-color);

		&_active {
			background: var(--bg-primary-color);
			color: var(--primary-color);
		}
	}
}
