@import "./themes/index";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
}

ul,
li,
input {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

.input {
	width: 100%;
	background: var(--bg-secondary-color);
	padding: 7px;
	color: var(--primary-color);
	border: 2px solid var(--default-color);
	border-radius: 5px;
}

.button {
	background: var(--bg-primary-color);
	border: 2px solid var(--default-color);
	color: var(--primary-color);
	padding: 7px;
	border-radius: 5px;
	white-space: nowrap;
}

.AppContainer {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 32px;
}

label {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.AppContainer {
		width: 100%;
	}
}
